/* global */
body {
  background: #e4e4e4;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.6em;
  margin: 0;
}

#main-header {
  background: coral;
  text-align: center;
  width: 80%;
  margin: auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* list col */
ul {
  color: #999;
  list-style: none;
  display: flex;
  padding: 0px
}

.row {
  display: block;
}

.row > li {
  padding: 5px;
  border: 0px;
  margin-bottom: 5px;
}

li {
  background: #555;
  border-radius: 10px;
  width: auto;
  padding: 5px 10px;
  align-items: center;
}


li > * > button {
  background: #333;
  border-radius: 8px;
  text-align: center;
}

.col > li {
  background: #555;
  color: #999;
  background: #555;
  color: #999;
  padding: 0px;
  margin: 0px 10% 0px 0px;
  flex-shrink: inherit;
}

/* list row */
li .state {
  width: auto;
  padding: 0px;
  border: 0px;
}

.state > * > button {
  color: #733;
  font-size: 30px;
  width: 45px;
}

li .task {
  width: auto;
  padding: 0px;
}

.deadline {
  width: auto;
  padding: 0px;
  border: 0px;
}

.importance {
  width: auto;
  padding: 0px;
  border: 0px
}

li .edit {
  width: auto;
  padding: 0px;
  border: 0px;
  margin-right: 2px;
  justify-content: flex-end;
}

.edit > * > button {
  width: 45px;
  border-radius: 8px 0px 0px 8px;
}

li .delete {
  width: auto;
  padding: 0px;
  border: 0px;
  margin: 0px;
  justify-content: flex-end;
}

.delete > * > button {
  width: auto;
  padding: 0px 10px;
  border-radius: 0px 8px 8px 0px;
}

input, button {
  background: #555;
  color: #999;
  height: 45px;
  border: 0px;
  font-weight: bold;
  padding: 0px;
  margin: auto;
  text-align: center;
}

.add-task {
  margin: 0 auto;
}